body {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
}

button:hover {
  cursor: pointer;
}

/*** Maintenance Message / Loading Icon ***/

.maintenance, .loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  msTransform: -ms-transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

/*** Scrollbar ***/

/* Width */
::-webkit-scrollbar {
  width: 7px;
  background: #0d0d0d;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 10px;
}

/*** Header ***/

.header {
  padding: 10px 2.5%;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  justify-content: center;
}

  /* Logo */

  .header h2 {
    color: white;
  }

  /* Navigation */

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

    /* Buttons */

    .navigation button {
      padding: 7px 10px 5px 10px;
      margin: 0 5px;
      border-width: 0px;
      background-color: transparent;
      color: white;
      font-family: 'Quicksand', sans-serif;
      font-weight: bold;
      outline: none;
      text-decoration: none;
    }

      /* Underline */

      .navigation button:after {
        height: 2px;
        margin-top: 3px;
        background-color: white;
        opacity: 0;
        display: block;
        content: '';
        transition: 0.5s;
      }

      .navigation button[disabled]:after {
        opacity: 1;
      }

      .navigation button:not([disabled]):hover:after {
        opacity: 1;
        animation: center-grow 200ms;
        animation-fill-mode: forwards;
      }

      @keyframes center-grow {
        0% {
          clip-path: polygon(50% 100%,50% 0,50% 0,50% 100%);
          -webkit-clip-path: polygon(50% 100%,50% 0,50% 0,50% 100%);
       }
        100%{
          clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
          -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
        }
      }

/*** Site Content ***/

.site-content {
  padding: 0 2.5%;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 7px;
  grid-template-areas: " a " " b ";
}

@media (min-width: 940px) and (orientation: landscape) {
  .header {
    padding: 10px 5%;
    margin-bottom: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  .site-content {
    padding: 0 5%;
    grid-template-columns: 30% 70%;
    grid-column-gap: 7px;
    grid-template-areas: " b a ";
  }
}

@media (min-width: 940px) and (orientation: portait) {
  .site-content {
    padding: 0 2.5%;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 7px;
  }
}

/*** Visual Data ***/

.visual-data-wrapper {
  max-height: 80vh;
  box-sizing: border-box;
  grid-area: a;
}

/* Google Chart */

  /* Annotation Chart */

    /* Makes sure the container isn't too big for chart */
    .visual-data > div[style], .visual-data > div > div[style] {
      /* width: auto !important;
      height: auto !important; */
    }

    /* Chart border: grey */
    .google-visualization-atl .border {
      border: 1px solid #212121 !important;
    }

    /* Chart background: black */
    div[id*="_AnnotationChart_chartControlsContainer"] {
      background-color: black;
    }

    /* Annotation container left border: grey */
    .google-visualization-atl .annotationsTdContainer {
      border-left: 1px solid #212121 !important;
    }

    /* Legend text: white */
    div[id*="_AnnotationChart_legendContainer"] > span {
      color: white !important;
    }

    /* Range control background: black */
    div[id*="_AnnotationChart_rangeControlContainer"] g rect[fill] {
      fill: black;
    }

    /* Range control grid lines: grey */
    div[id*="_AnnotationChart_rangeControlContainer"] g > g > g > rect[fill] {
      fill: #212121;
    }

    /* Range control edges: grey */
    div[id*="_AnnotationChart_rangeControlContainer"] > div > div > div > svg > rect[fill] {
      /* fill: #212121; */
    }

    /* Range control dates: hidden */
    div[id*="_AnnotationChart_rangeControlContainer"] > div > div > div > svg > g > g:nth-child(4) {
      display: none !important;
    }

    /* Annotation table */
    .google-visualization-atl .annotationsContainer .google-visualization-table-tr-odd,
    .google-visualization-atl .annotationsContainer .google-visualization-table-tr-odd td,
    .google-visualization-atl .annotationsContainer .google-visualization-table-tr-even,
    .google-visualization-atl .annotationsContainer .google-visualization-table-tr-even td {
      background-color: black !important;
    }
    .google-visualization-atl .annotationsContainer .google-visualization-table-td {
      border-bottom-width: 0 !important;
    }

    @media (orientation: portait) {

      div[id*="_AnnotationChart_containerTable"], div[id*="_AnnotationChart_containerTable"] > div {
        display: block !important;
      }

    }

    /* Annotation */
    .google-visualization-table-td > span {
      font-family: 'Quicksand', sans-serif;
      float: left;
      clear: left;
    }

      /* Annotation title */
      .google-visualization-table-table .title {
        color: #dabc3f;
        font-size: 1.2em !important;
        text-transform: uppercase;
      }

      /* Annotation description */
      .google-visualization-table-table .description {
        font-size: 1em !important;
      }

  /* Bar Chart */

    /* Chart border: grey */
    .google-bar-chart {
      border: 1px solid #212121
    }

      /* Chart background: black */
      .google-bar-chart > div > div > svg > g > rect[fill] {
        fill: black;
      }

      /* Chart label text: white */
      .google-bar-chart > div > div > svg > g > text {
        fill: white;
        font-family: 'Quicksand', sans-serif !important;
        font-size: 9px !important;
      }

  /* Toggle Menu */

  .toggle-menu-wrapper {
    margin-top: 7px;
    border: 1px solid #212121;
    background: #0d0d0d;
  }

    .toggle-menu {
      margin: 8px 12px;
      display: inline-block;
    }

      /* Dropdown */

      .toggle-menu select {
        height: 29px;
        padding: 5px;
        border: 1px solid #212121;
        background: #0d0d0d;
        color: white;
        font-size: 13px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        outline: none;
      }

      .toggle-menu select:hover {
        cursor: pointer;
      }

      /* Radio Button */

      .radio-button {
        display: inline-block;
        position: relative;
      }

      .radio-button input[type="radio"] {
        height: 20px;
        width: 20px;
        margin: 0;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
      }

      .checkmark {
        position: absolute;
        height: 20px;
        width: 20px;
        margin: 0;
        background-color: #eee;
        border-radius: 50%;
      }

      /* On mouse-over, add a grey background color */
      .radio-button:hover input ~ .checkmark {
        background-color: #ccc;
      }

      /* When the radio button is checked, add a yellow background */
      .radio-button input:checked ~ .checkmark {
        background-color: #dabc3f;
      }

      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the indicator (dot/circle) when checked */
      .radio-button input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the indicator (dot/circle) */
      .radio-button .checkmark:after {
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
      }

      /* Label text */
      .label-text {
        margin-left: 26px;
        font-weight: 500;
      }

/*** Mapbox ***/

/* Popup */

.mapboxgl-popup-content {
  background-color: rgba(0, 0, 0, 0.85);
}

.mapboxgl-popup-close-button {
  color: white;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: rgba(0, 0, 0, 0.85) !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: rgba(0, 0, 0, 0.85) !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgba(0, 0, 0, 0.85) !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgba(0, 0, 0, 0.85) !important;
}

/* Filter Box */

.map-filter-box {
  width: 210px;
  margin: 9px 0 0 9px;
  border: 1px solid #212121;
  background: #0d0d0d;
  position: absolute;
  display: none;
  z-index: 99;
  font-family: 'Quicksand', sans-serif;
  transition: height 0.5s ease;
}

.map-filter-box p, span {
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.map-filters {
  padding: 0 10px 14px 10px;
  display: grid;
  grid-row-gap: 10px;
}

  .map-filters > .radio-button {
    display: block;
    margin-left: 0 !important;
  }

  .map-filters .label-text {
    font-size: 0.9em;
  }

.toggle-container {
  padding: 10px;
}

  .toggle-container:hover {
    cursor: pointer;
  }

.toggle-filter-display {
  right: 12px;
  padding: 2.5px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  background-color: transparent;
  position: absolute;
  margin-top: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.down > .toggle-filter-display {
  margin-top: 8px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down ~ .map-filters {
  display: grid;
}

.hidden > .toggle-filter-display {
  margin-top: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.hidden ~ .map-filters {
  display: none;
}

/*** Summary Data ***/

.sidebar-wrapper {
  padding: 10px;
  border: 1px solid #212121;
  border-radius: 0;
  box-sizing: border-box;
  grid-area: b;
}

@media (min-width: 940px) and (orientation: landscape) {
  .sidebar-wrapper {
    max-height: 80vh;
    overflow: auto;
  }
}

.summary-data {
  padding: 10px 0;
  border: 1px solid #212121;
  box-sizing: border-box;
  background-color: #0d0d0d;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 100%;
}

/* Total Cases Section */

.total-cases {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 100%;
}

  .total-cases-container {
    padding: 10px;
    border-radius: 5px;
    background: #131313;
    text-align: left;
  }

    .total-case-number {
      color: #2e5cb8;
      font-weight: bold;
      display: block;
    }

      .total-case-number p {
        margin: 0;
        font-size: 1.3em;
      }

        .total-case-number p:nth-child(1) {
          font-size: 1.35em;
        }

        .total-case-number p:nth-child(2) {
          margin: 12px 0;
          font-size: 0.82em;
          color: #a6a6a6;
        }

    .new-info {
      background-color: #131313;
      color: white;
    }

    .new-info p {
      font-size: 0.9em;
      font-weight: 700;
      margin: 0;
    }

      .new-info > p span {
        vertical-align: middle;
      }

    .new-info ul {
      padding-left: 22px;
      margin: 6px 0 0 0;
      font-size: 0.7em;
      color: #d3d3d3;
    }

    .new-case-arrow {
      width: 20px;
      margin-right: 3px;
      vertical-align: middle;
    }

/* Additional Stats Section */

.stats {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-content: center;
}

  @media (min-width: 630px) {
    .stats {
      grid-template-columns: 1fr 1fr;
    }
  }

  /* Landscape */

  @media (min-width: 940px) and (orientation: landscape) {
    .stats {
      grid-template-columns: 1fr;
    }
  }

  @media (min-width: 1810px) and (orientation: landscape) {
    .stats {
      grid-template-columns: 1fr 1fr;
    }
  }

.stat-container {
  padding: 8px;
  border-radius: 5px;
  background: #131313;
  font-weight: 800;
  display: block;
}

  .stat-container:nth-child(1) {
    color: #9BC995;
  }

  .stat-container:nth-child(2) {
    color: #E85F5C;
  }

  .stat-container:nth-child(3) {
    color: #E3C567;
  }

  .stat-container:nth-child(4) {
    color: #8589A8;
  }

    .label {
      display: flex;
      font-size: 0.8em;
    }

      .label > span:nth-child(1) {
        padding-right: 4px;
        height: 20px;
        align-self: center;
      }

        .label img {
          height: 20px;
        }

      .label > span:nth-child(2) {
        align-self: center;
        text-align: left;
      }

    .count {
      text-align: left;
      position: relative;
    }

      .count > span:nth-child(1) {
        font-size: 1.7em;
      }

      .count > span:nth-child(2) {
        right: 0;
        bottom: 0;
        font-size: 0.7em;
        color: white;
        float: right;
        position: absolute;
      }

        /* .stat-container:nth-child(4) > .count > span:nth-child(1) {
          font-size: 1.4em;
        }

        .stat-container:nth-child(4) > .count > span:nth-child(2) {
          font-size: 0.6em;
        } */

      .change-arrow {
        width: 17px;
        height: 17px;
        margin: 0 2px 2px 0px;
        vertical-align: middle;
      }

  /* Calendar */

  /* Footer */

  .footer {
    padding: 0 10px;
    background-color: #0d0d0d;
    font-size: 0.6em;
    color: white;
    text-align: left;
  }

    .footer a {
      color: #2e5cb8;
      text-decoration: none;
    }

    .footer p {
      margin-top: 0;
    }

    .footer-container {
      padding: 8px;
      border-radius: 5px;
      background: #131313;
    }
