body {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
}

button:hover {
  cursor: pointer;
}

/*** Maintenance Message / Loading Icon ***/

.maintenance, .loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

/*** Scrollbar ***/

/* Width */
::-webkit-scrollbar {
  width: 7px;
  background: #0d0d0d;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 10px;
}

/* App */

.App {
  max-width: 100vw;
  padding: 0 2.5%;
}

@media (min-width: 565px) {
  .App { padding: 0 2.5%; }
}

@media (min-width: 1010px) and (orientation: landscape) {
  .App { padding: 0 5%; }
}

/*** Header ***/

.header-wrapper {
  display: block;
}

@media (min-width: 565px) {
  .header-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.header {
  min-height: 35px;
  text-align: center;
  display: block;
}

  /* Logo */

  .header h2 {
    padding-top: 3px;
    color: white;
    font-size: 1em;
    visibility: hidden;
  }

  @media (min-width: 340px) {
    .header h2 { visibility: visible; }
  }

  @media (min-width: 565px) {
    .header {
      text-align: center;
      position: relative;
    }
    .header h2 {
      padding-top: 0;
      font-size: 1em;
      text-align: left;
    }
  }

  @media (min-width: 1010px) {
    .header h2 { font-size: 1.5em; }
  }

  /* Hamburger Menu */

  #toggle {
    opacity: 0;
    width: 35px;
    height: 29px;
    margin: 0;
    position: absolute;
    display: block;
    z-index: 99;
  }

  #toggle:checked ~ .navigation {
    display: grid;
  }

    @media only screen and (max-width: 564px) {
      .navigation > div > button {
        width: 100%;
        border-radius: 5px;
      }
    }

  #toggle:hover {
    cursor: pointer;
  }

  .hamburger-menu {
    position: absolute;
  }

  #burger {
    z-index: 98;
  }

  #burger > div {
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px 0;
  }

  @media only screen and (min-width: 565px) {

    #toggle {
      display: none;
    }

    #toggle:checked ~ .navigation {
      display: grid;
      grid-template-columns: auto 1fr auto;
    }

    #burger {
      display: none;
    }

  }

  /* Navigation */

  .navigation {
    margin-bottom: 15px;
    display: none;
    grid-row-gap: 8px;
    align-items: center;
  }

  @media screen and (min-width: 565px) {
    .navigation {
      margin: 0;
      text-align: right;
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: auto auto auto;
    }
  }

    /* Buttons */

      .navigation button {
        padding: 6px 6px;
        border-width: 0px;
        border-radius: 25px;
        background-color: transparent;
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        outline: none;
        text-decoration: none;
      }

      @media screen and (min-width: 565px) {
        .navigation button {
          padding: 5px 8px;
        }
      }

      /* Selected Nav Button */

      .navigation button:not([disabled]) {
        color: white;
        background-color: transparent;
      }

      .navigation button[disabled] {
        color: #2e5cb8;
        background-color: white;
      }

      /* Underline */

      /* .navigation button:after {
        height: 2px;
        margin-top: 3px;
        background-color: white;
        opacity: 0;
        display: block;
        content: '';
        transition: 0.5s;
      }

      .navigation button[disabled]:after {
        opacity: 1;
      }

      .navigation button:not([disabled]):hover:after {
        opacity: 1;
        animation: center-grow 200ms;
        animation-fill-mode: forwards;
      }

      @keyframes center-grow {
        0% {
          clip-path: polygon(50% 100%,50% 0,50% 0,50% 100%);
          -webkit-clip-path: polygon(50% 100%,50% 0,50% 0,50% 100%);
      }
        100%{
          clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
          -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
        }
      } */

/*** Site Content ***/

.site-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 7px;
  grid-template-areas: " a " " b ";
}

@media (min-width: 1010px) and (orientation: landscape) {
  .site-content {
    height: 80vh;
    grid-template-columns: 3fr 7fr;
    grid-column-gap: 7px;
    grid-template-areas: " b a ";
  }
}

/*** Visual Data ***/

.visual-data-wrapper {
  box-sizing: border-box;
  grid-area: a;
}

.visual-data {
  display: grid;
  grid-row-gap: 7px;
}

/* Google Chart */

.timeline {
  border: 1px solid #262626;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

@media (min-width: 565px) {
  .timeline {
    display: grid;
    grid-template-columns: 70% 30%;
  }
}

@media (orientation: landscape) {
  .timeline { height: calc(80vh - 65px); }
}

  /* Events */

  .events {
    border-left: 1px solid #212121;
    background: #0d0d0d;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @media (orientation: portrait) {
    .events { height: 60vh; }
  }

  @media (min-width: 565px) {
    .events { display: block; }
  }

    .events-table {
      overflow-y: scroll;
    }

      .events-table tr {
        padding: 5px;
      }

        .events-table td {
          padding: 5px;
        }

          .events-table .event-marker {
            padding: 5px 0 0 5px;
            vertical-align: top;
          }

            .event-marker > div {
              width: 25px;
              height: 25px;
              background-image: linear-gradient(-45deg, #151515, #343434);
              border-radius: 50%;
              font-size: 0.8em;
              text-align: center;
              line-height: 25px;
            }

            .event-marker > div:hover {
              cursor: pointer;
            }
          
          .events-table td span {
            float: left;
            clear: left;
          }

            .event-title {
              color: #dabc3f;
              font-size: 0.9em;
              font-weight: bold;
            }

            .event-description {
              color: white;
              font-size: 0.7em;
            }

            .event-date {
              color: #666;
              font-size: 0.6em;
              font-weight: bold;
            }

  /* Line Chart */

    .line-chart {
      overflow: hidden;
    }

    /* Tooltip */
    .google-visualization-tooltip {
      max-width: 200px;
      border: 5px solid #0d0d0d !important;
      border-radius: 5px !important;
      background: #0d0d0d !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }

      /* Tooltip content */
      .tooltip {
        padding: 10px;
        border-radius: 5px;
        color: white;
      }

        .tooltip p:nth-child(1) { 
          margin: 0; 
          font-size: 0.9em;
        }

        .tooltip p:nth-child(2) { 
          margin: 7px 0 0 0;
          color: #2e5cb8;
          font-size: 1.5em;
          font-weight: bold;
        }

        .tooltip p:nth-child(3) { 
          margin: 7px 0 0 0; 
        }

        .tooltip p:nth-child(3) > span:nth-child(1) {
          color: #dabc3f;
          font-weight: bold;
        }

        .tooltip p:nth-child(3) > span:nth-child(2) {
          color: white;
          font-weight: 400;
        }

  /* Statistics */

  .statistics {
    height: 60vh;
    border: 1px solid #212121;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto min-content;
    position: relative;
    overflow: hidden;
  }

  @media screen and (min-width: 565px) {
    .statistics { 
      grid-template-rows: auto;
      grid-template-columns: 70% 30%; 
      overflow: hidden;
    }
  }
  
  @media (orientation: landscape) and (min-width: 1010px) {
    .statistics { height: 80vh; }
  }

    .pie-chart {
      display: block;
    }

    /* Data Selector */

    .statistics > input {
      height: 21px;
      width: 100%;
      margin: 0;
      position: absolute;
      z-index: 2;
      opacity: 0;
      grid-column: 1;
      grid-row: 2;
      align-self: end;
    }

    @media (max-width: 564px) {

      .statistics > input:checked {
        grid-row: 1;
        align-self: auto;
      }
  
      .statistics > input:checked ~ .data-selector-toggle {
        grid-row: 1;
        align-self: auto;
      }
  
      .statistics > input:checked ~ .data-selector-toggle .arrow {  
        margin-bottom: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
  
      .statistics > input:checked ~ .data-selector-wrapper {
        display: grid;
        grid-row: 2;
        z-index: 10;
      }
  
      .statistics > input:checked ~ .pie-chart {
        z-index: -99;
        position: absolute;
      }

      @media screen and (min-width: 565px) { 
        .statistics > input:checked ~ .pie-chart { position: relative; }
      }

    }

    .data-selector-toggle {
      height: min-content;
      border-top: 1px solid #212121;
      background: white;
      align-items: center;
      justify-content: center;
      z-index: 1;
      grid-column: 1;
      grid-row: 2;
      align-self: end;
    }

    @media screen and (min-width: 565px) {
      .data-selector-toggle { display: none; }
    }

      .data-selector-toggle p {
        text-align: center;
        margin: 0;
      }

      .data-selector-toggle .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }

    .data-selector-wrapper {
      padding: 2px;
      border-top: 1px solid #212121; 
      background: #0d0d0d;
      overflow-y: auto;
      overflow-x: hidden;
      display: none;
      grid-template-rows: min-content min-content;
      grid-row-gap: 2px;
      user-select: none;
    }

    @media screen and (min-width: 565px) {
      .data-selector-wrapper { 
        display: grid;
        border-top: 0;
        border-left: 1px solid #212121; 
      }
    }

      .total-cases-data-selector, .testing-data-selector {
        display: grid;
        grid-auto-rows: auto 1fr;
        grid-row-gap: 2px;
      }
        
        .data-selector-button {
          padding: 10px;
          border-radius: 5px;
          background-image: linear-gradient(-15deg, #1f1f1f, #151515);
          font-weight: bold;
          display: grid;
          grid-template-columns: auto 1fr;
          grid-column-gap: 8px;
        }

        .data-selector-button:hover {
          cursor: pointer;
        }

          .data-selector-button > p {
            width: 20px;
            text-align: center;
          }

            .data-selector-button .arrow {
              border: solid white;
              border-width: 0 3px 3px 0;
              display: inline-block;
              padding: 3px;
            }
            
              .right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
              }

              .down {
                margin-left: 1px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
              }

          .data-selector-button span {
            align-self: center;
          }

        .data-selector-subcategory {
          padding: 5px 0;
          font-size: 0.8em;
          font-weight: 500;
          text-align: center;
        }

        .data-selector {
          display: grid;
          grid-auto-rows: 1fr;
          grid-row-gap: 2px;
        }

          .statistic-type {
            padding: 10px;
            background-color: #131313;
            border-radius: 5px;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-column-gap: 8px;
          }

          .statistic-type:hover {
            /* background-color: #beab5b; */
            background-color: #4470c6;
            cursor: pointer;
          }

          .statistic-type.active:hover {
            /* background-color: #b69d35; */
            background-color: #204081;
            cursor: pointer;
          } 

          .active {
            /* background-color: #b69d35; */
            background-color: #204081;
            font-weight: 600;
            cursor: pointer;
          }

            .statistic-icon {
              width: 20px;
              vertical-align: middle;
              align-self: center;
            }

            .statistic-type > span {
              vertical-align: middle;
              align-self: center;
            }

    /* Bar Chart */

      /* Chart border: grey */
      .google-bar-chart {
        border: 1px solid #212121;
      }

        /* Chart background: black */
        .google-bar-chart > div > div > svg > g > rect[fill] {
          fill: black;
        }

        /* Chart label text: white */
        .google-bar-chart > div > div > svg > g > text {
          fill: white;
          font-family: 'Quicksand', sans-serif !important;
          font-size: 9px !important;
        }

  /* Toggle Menu */

  .toggle-menu-wrapper {
    padding: 8px;
    border: 1px solid #212121;
    background: #0d0d0d;
    display: grid;
    grid-gap: 10px;
  }

    .toggle-menu, .toggle-options {
      padding: 10px 15px 10px 10px;
      border-radius: 5px;
      background-color: #131313;
      display: flex;
      justify-content: center;
      vertical-align: middle;
      text-align: left;
    }

      .case-range {
        height: auto;
        padding: 7px 0;
        justify-content: center;
        align-items: center;
      }

      .case-number {
        justify-content: center;
      }
      
      .case-type {
        padding-right: 0;
      }

      .toggle-options {
        color: #dabc3f;
        font-weight: 700;
        transition: 0.2s ease;
        user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none; 
      }

        .toggle-options:hover,
        .options-clicked {
          color: white;
          background-color: #ae9632;
          cursor: pointer;
        }

  @media (min-width: 680px) {

    .toggle-menu-wrapper {
      grid-template-columns: 1fr 1fr 1fr auto;
    }

      .toggle-menu {
        text-align: justify;
      }

        .case-range {
          grid-column-start: 1;
          grid-column-end: 4;
        }

        .case-number {
          grid-column-start: 1;
          grid-column-end: 3;
        }

        .case-type {
          grid-column-start: 3;
          grid-column-end: 5;
        }

    .toggle-options {
      width: 157px;
    }

  }

  @media (min-width: 1010px) {

    .show-options {
      grid-template-columns: 1fr 1fr auto;
    }

      .show-options > .case-range {
        display: none;
      }

      .show-options > .case-number,
      .show-options > .case-type {
        grid-row-start: 1;
      }

      .show-options > .case-number {
        grid-column-start: 1;
        grid-column-end: 2;
      }

      .show-options > .case-type {
        grid-column-start: 2;
        grid-column-end: 3;
      }

      .show-options > .toggle-options {
        grid-column-start: 3;
      }

  }

      /* Google Range Control */

      .google-range-filter,
      .goog-inline-block {
        width: 100%;
      }

      .google-visualization-controls-rangefilter {
        text-align: center;
      }

      .google-visualization-controls-label {
        display: none !important;
      }

      .google-visualization-controls-slider-thumb {
        top: -7px !important;
        width: 16px !important;
        height: 16px !important;
        background-color: #eee !important;
        border: 2px solid #bebebe !important;        
        border-radius: 50% !important;
      }

      .google-visualization-controls-slider-thumb:hover {
        cursor: pointer;
      }

      .google-visualization-controls-rangefilter-thumblabel {
        padding: 4px !important;
        border-radius: 14px;
        background: #181818;
        color: white !important;
        font-size: 0.5em !important;
        text-align: center;
        text-transform: uppercase;
        white-space: normal;
        display: none;
        overflow: hidden;
      }

      .google-visualization-controls-rangefilter-thumblabel:nth-child(1) {
        justify-self: right;
      }

      .google-visualization-controls-rangefilter-thumblabel:nth-child(3) {
        justify-self: left;
      }
    
      .google-visualization-controls-slider-horizontal {
        height: 6px !important;
        margin: 0 5px;
        border: 0px !important;
        border-radius: 10px !important;
        background: #303030 !important;
        outline: none !important;
      }

      .google-visualization-controls-slider-handle {
        height: 6px !important;
        padding-right: 4px;
        border-radius: 10px !important;
        background: #2e5cb8 !important;
        opacity: 0.8 !important;
      }

      @media (min-width: 370px) {
        .goog-inline-block > .goog-inline-block {
          display: grid;
          grid-template-columns: 1fr auto 1fr;
          justify-items: center;
          align-items: center;
        }  
        .google-visualization-controls-rangefilter {
          width: auto;
        }
        .google-visualization-controls-rangefilter-thumblabel {
          display: inline-block;
        }
      }

      @media (min-width: 410px) {
        .google-visualization-controls-rangefilter-thumblabel {
          width: 65px !important;
          font-size: 0.7em !important;
        }
      }

      @media (min-width: 450px) {
        .google-visualization-controls-rangefilter-thumblabel {
          width: 80px !important;
          font-size: 0.8em !important;
        }
      }

      /* Dropdown */

      .dropdown-wrapper {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: relative;
        display: flex;
      }

      .dropdown-wrapper select {
        width: 100%;
        padding: 0 30px 0 0;
        border: 0;
        border-radius: 5px;
        background: #131313;
        box-sizing: border-box;
        color: white;
        font-size: 13px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      .dropdown-wrapper select:hover {
        cursor: pointer;
      }

      .dropdown-wrapper::after {
        content: "▼";
        font-size: 0.7em;
        top: 3px;
        right: 9px;
        position: absolute;
      }

      .dropdown-wrapper::after:hover {
        cursor: pointer;
      }

      /* Radio Button */

      .radio-button {
        display: flex;
        align-items: center;
        position: relative;
      }

      .radio-button input[type="radio"] {
        height: 20px;
        width: 20px;
        margin: 0;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
      }

      .checkmark {
        position: absolute;
        height: 20px;
        width: 20px;
        margin: 0;
        background-color: #eee;
        border-radius: 50%;
      }

      /* On mouse-over, add a grey background color */
      .radio-button:hover input ~ .checkmark {
        background-color: #ccc;
      }

      /* When the radio button is checked, add a yellow background */
      .radio-button input:checked ~ .checkmark {
        background-color: #dabc3f;
      }

      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the indicator (dot/circle) when checked */
      .radio-button input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the indicator (dot/circle) */
      .radio-button .checkmark:after {
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
      }

      /* Label text */
      .label-text {
        margin-left: 26px;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
      }

/*** Mapbox ***/

.map-wrapper {
  position: relative;
  max-width: 95vw;
}

.mapContainer {
  height: 60vh;
}

@media (min-width: 1010px) and (orientation: landscape) {
  .map-wrapper { max-width: 100%; }
  .mapContainer { height: 80vh; }
}

/* Popup */

.mapboxgl-popup-content {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.mapboxgl-popup-close-button {
  margin-top: 10px;
  margin-right: 10px;
  color: white;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: rgba(0, 0, 0, 0.85) !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: rgba(0, 0, 0, 0.85) !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgba(0, 0, 0, 0.85) !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgba(0, 0, 0, 0.85) !important;
}

/* Popup Table */

.mapboxgl-popup-content table, 
.mapboxgl-popup-content tr, 
.mapboxgl-popup-content td {
  border-collapse: collapse;
}

.mapboxgl-popup-content table {
  width: 100%;
}

.mapboxgl-popup-content th, 
.mapboxgl-popup-content td {
  padding: 3px;
}

.mapboxgl-popup-content tr {
  font-size: 0.9em;
  font-weight: bold;
}

@media (min-height: 565px) {
  .mapboxgl-popup-content th, 
  .mapboxgl-popup-content td { padding: 5px; }
}

@media (min-width: 565px) {
  .mapboxgl-popup-content th, 
  .mapboxgl-popup-content td { padding: 5px; }
  .mapboxgl-popup-content tr { font-size: 1em; }
}

  .mapboxgl-popup-content tr > td:nth-child(1) {
    text-align: left;
  }

  .mapboxgl-popup-content tr > td:nth-child(2) {
    min-width: 20px;
    text-align: center;
  }

    .mapboxgl-popup-content tr > td:nth-child(2) > div {
      width: 20px;
      height: 20px;
      padding: 1px;
      border-radius: 50%;
      background-color: #1e1e1e;
      font-size: 1em;
    }

      .mapboxgl-popup-content tr > td:nth-child(2) > div > span {
        vertical-align: middle;
        line-height: 20px;
      }

/* Filter Box */

.map-filter-box {
  width: 210px;
  margin: 9px 0 0 9px;
  border: 1px solid white;
  border-radius: 5px;
  background: white;
  position: absolute;
  display: none;
  z-index: 99;
  color: #0d0d0d;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  transition: height 0.5s ease;
}

@media (min-width: 565px) and (orientation: landscape) {
  .map-filter-box { max-height: 100%; }
}

.map-filter-box p, 
.map-filter-box span {
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}

.map-filters-wrapper {
  max-height: 36vh;
  overflow: auto;
  display: none;
}

.map-filters-wrapper::-webkit-scrollbar,
.map-filters-wrapper::-webkit-scrollbar-track {
  background-color: white;
}

.map-filters-wrapper::-webkit-scrollbar-thumb {
  background-color: #777777;
}

.map-filters {
  padding: 0 10px 14px 10px;
  display: grid;
  grid-row-gap: 10px;
  overflow: auto;
}

  .map-filters > .radio-button {
    display: block;
    margin-left: 0 !important;
  }

  .map-filters .label-text {
    padding-left: 25px;
    font-size: 0.87em;
    font-weight: bolder;
  }

.toggle-container {
  padding: 10px;
}

  .toggle-container:hover {
    cursor: pointer;
  }

.toggle-filter-display {
  right: 12px;
  padding: 2.5px;
  border: solid #0d0d0d;
  border-width: 0 2.5px 2.5px 0;
  background-color: transparent;
  position: absolute;
  margin-top: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.showing > .toggle-filter-display {
  margin-top: 8px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.showing ~ .map-filters-wrapper {
  display: block;
}

.hidden > .toggle-filter-display {
  margin-top: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.hidden ~ .map-filters-wrapper {
  display: none;
}

/*** Summary Data ***/

.sidebar-wrapper {
  padding: 10px;
  border: 1px solid #212121;
  border-radius: 0;
  box-sizing: border-box;
  grid-area: b;
}

@media (min-width: 1010px) and (orientation: landscape) {
  .sidebar-wrapper {
    max-height: 80vh;
    overflow: auto;
  }
}

.summary-data {
  height: 100%;
  padding: 10px 0;
  border: 1px solid #212121;
  box-sizing: border-box;
  background-color: #0d0d0d;
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 100%;
}

/* Total Cases Section */

.total-cases {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 100%;
}

  .total-cases-container {
    padding: 10px;
    border-radius: 5px;
    background: #131313;
    text-align: left;
  }

    .total-case-number {
      color: #2e5cb8;
      font-weight: bold;
      display: block;
    }

      .total-case-number p {
        margin: 0;
        font-size: 1.3em;
      }

        .total-case-number p:nth-child(1) {
          font-size: 1.6em;
        }

        .total-case-number p:nth-child(2) {
          margin: 12px 0;
          font-size: 0.82em;
          color: #a6a6a6;
        }

    .active-cases {
      margin-bottom: 8px;
    }

    .active-cases p, .new-info p {
      color: white;
      font-size: 0.9em;
      font-weight: 700;
      margin: 0;
    }

      .active-cases > p span, .new-info > p span {
        vertical-align: middle;
      }

    .active-cases-icon, .new-case-arrow {
      width: 20px;
      margin-right: 6px;
      vertical-align: middle;
    }

    .new-info ul {
      padding-left: 22px;
      margin: 6px 0 0 0;
      font-size: 0.7em;
      color: #d3d3d3;
    }

/* Additional Stats Section */

.stats {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  justify-content: center;
}

  @media (min-width: 630px) {
    .stats {
      grid-template-columns: 1fr 1fr;
    }
  }

  /* Landscape */

  @media (min-width: 1010px) and (orientation: landscape) {
    .stats {
      grid-template-columns: 1fr;
      grid-template-rows: max-content;
    }
  }

  @media (min-width: 1810px) and (orientation: landscape) {
    .stats {
      grid-template-columns: 1fr 1fr;
    }
  }

.stat-container {
  padding: 8px;
  border-radius: 5px;
  background: #131313;
  font-weight: 800;
  display: block;
}

  .stat-container:nth-child(1) {
    color: #9BC995;
  }

  .stat-container:nth-child(2) {
    color: #E85F5C;
  }

  .stat-container:nth-child(3) {
    color: #E3C567;
  }

  .stat-container:nth-child(4) {
    color: #adaec6;
  }

    .label {
      display: flex;
      font-size: 0.8em;
    }

      .label > span:nth-child(1) {
        padding-right: 4px;
        height: 20px;
        align-self: center;
      }

        .label img {
          height: 20px;
        }

      .label > span:nth-child(2) {
        align-self: center;
        text-align: left;
      }

    .count {
      text-align: left;
      position: relative;
    }

      .count > span:nth-child(1) {
        font-size: 1.7em;
      }

      .count > span:nth-child(2) {
        right: 0;
        bottom: 0;
        font-size: 0.7em;
        color: white;
        float: right;
        position: absolute;
      }

      .change-arrow {
        width: 17px;
        height: 17px;
        margin: 0 2px 2px 0px;
        vertical-align: middle;
      }

  /* Footer */

  .footer {
    padding: 0 10px;
    background-color: #0d0d0d;
    font-size: 0.6em;
    color: white;
    text-align: left;
  }

    .footer a {
      color: #2e5cb8;
      text-decoration: none;
    }

    .footer p {
      margin-top: 0;
    }

    .footer-container {
      padding: 13px 8px;
      border-radius: 5px;
      background: #131313;
    }
